
/* site.css */


/* Site Stuff */

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.flex > * {
    max-width: 21%;
    max-height: 21%;
}
.picdiv {
    margin-bottom: 3rem;
}
.pictures {
    max-width: 1300px;
    margin: 3rem auto;
}

/* DONT EDIT */
.picdiv img {
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
}

/* Button stuff */
.scrollToTop{
    display:none;
    position:fixed;
    bottom: 10px;
    right: 10px;
    background-color: rebeccapurple;
    color: seashell;
    cursor: pointer;
}

/* Navbar Stuff */

#Navbar {
    background-color: black;

}

#Navbar li {
    display: inline;
    background-color: black;
    text-align: center;   
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    text-decoration: none;
}

#Navbar li > a {
    display: block;
    color: white;
    text-decoration: none;
}

#Navbar li.active{
    background-color: rebeccapurple;
}

/* Table stuff */
table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
}